@{
    ViewBag.Title = "Home Page";
}
<!--
    Marcelo, colocar as informações das views aqui.
    Na pasta Shared tem a estrutura de todas as view lá, todas as informações q vc colocar aqui neste
    documento Index.cshtml ira ser jogado na linha  32 do documento Layout.cshtml na anotacao RenderBody.

    Aqui vc vai colocar os botoes que chamaram os metodos presentes no homecontroller, para isso
    no formulario razor fazer o seguinte:
    using (Html.BeginForm(metodo do controller, nome do controler sem o termo Controller, Forma de envio))
    tudo q for participar do formulario devera ter anotacoes da div class = "form-group"

    abaixo um exemplo de como chamar um metodo usando razor
    -->
<!--exemplo de formulario -->
<div>
    @using (Html.BeginForm("Select_Mongo", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <input type="submit" value="Select mongo" class="btn btn-primary" />
        </div>

    }
    @using (Html.BeginForm("Select_MySQL", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <input type="submit" value="Select MySQL" class="btn btn-primary" />
        </div>

    }
</div>